/* modal  */
@media (min-width: 768px) {
    .modal-content {
        box-shadow: none !important;
        border: 1px solid #e50303;
    }
}
.modal-header {
    background-color: #e50303;
    color: white;
    text-align: center;
    font-weight: bold;
}
.close {
    color: #fff !important;
    opacity: 1 !important;
}
.close:hover {
    color: #ffeb3b !important;
    opacity: 1 !important;
}
.form-control:focus {
    border-color: #eee !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #eee !important;
}
.modal-footer button i{
    padding-right: .5em;
}
.btn-danger{
    background: #e50303!important;
}
.btn-danger:hover{
    background:#ea3535!important;
}
.btn-default
{
    color: #9E9E9E!important;
}
.modal-content label{font-size: 13px;font-weight: 400;}
.modal-content .title-form{font-weight: bold!important}
.modal-body h4{color: #e50303;}
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  i {
      color: #e50303
  }

  /* The container */
.container {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #e50303;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
    top: 5px;
    left: 5px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: white;
  }
  .about-wrap .contact-form{
    border: 2px solid #e50303!important;
  }
